:root {
  --bg-color-white: #f8e9ee;
  --bg-color-black: #2c0c1a;

  --primary-color-white: #5b2039;
  --secundary-color-white: #2c0c1a;
  --color-hover-white : #8e375c;

  --primary-color-black: #eab7c8;
  --secundary-color-black: #f8e9ee;
  --color-hover-black : #df81a4;


  --border-color: #c54f81;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color-white);
  color: var(--secundary-color-white);
}

.container-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card img {
  width: 50%;
  height: auto;
}



/* ------------------------------------------- */
/* Media Queries para a responsividade do grid */
/* ------------------------------------------- */

/* Tela de dispositivos móveis (≤ 480px) */
/* 1 coluna */
@media (max-width: 480px) {
  .container-grid {
      grid-template-columns: repeat(1, 1fr);
  }
}

/* Telas entre 481px e 768px */
/* 2 colunas */
@media (min-width: 481px) and (max-width: 768px) {
  .container-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Telas entre 769px e 1024px */
/* 3 colunas */
@media (min-width: 769px) and (max-width: 1024px) {
  .container-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Telas maiores que 1025px */
/* 4 colunas */
@media (min-width: 1025px) {
  .product-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}